@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.light {
    font-weight: 200;
}

.bold {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

h1 {
    margin: 0;
    font-size: 2.4em;
    text-align: center;
}

.intro {
    max-width: 500px;
    text-align: center;
}

.wrapper {
    display: flex;
    gap: 2em;
    margin-top: 3.6em;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 350px;
    max-width: 350px;
    height: 250px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

.card-supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.card-team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.card-karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.card-calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.card-title {
    margin: 0;
    font-size: 1.3em;
}

.card-desc {
    flex: 1;
    font-size: 0.85em;
}

.card-img {
    align-self: flex-end;
}

@media screen and (max-width: 1170px) {
    body {
        padding: 0 2em;
    }

    h1 {
        font-size: 1.6em;
    }

    .wrapper {
        flex-direction: column;
        gap: 1.6em;
        margin-top: 4em;
    }

    .column {
        gap: 1.6em;
    }

    .card {
        width: 100%;
        height: 222px;
    }

    .card-desc {
        font-size: 0.87em;
    }

    .card-img {
        width: 57px;
        height: 57px;
    }
}